.button{
    width: 197px;
    height: 51px;
    border-radius: 5px;
    background: #FDFDFD;
    position: relative;
    box-shadow: $Big;


    &__btn{
        font-size: 16px;
        font-weight: 600;
        transition: 0.5s ease;

    }
    &__btn:hover,
    &__btn:focus,
    &__btn:active{
        color: $Yellow;
        transition: 0.5s ease;

    }

}