.contacts{
    margin-top: 100px;
    &__content-inner{
        display: flex;
    }
    &__content-title{
        margin-bottom: 20px;
    }
    .about__form{
        margin-left: 20px;
    }
    .button{
        margin-top: 20px;
    }
    &__contacts{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__contact-title{
        font-weight: $Bold;
        margin-bottom: 8px;
    }
    &__map{
        margin-top: 40px;
    }

    @media (max-width:992px) {
        &__content-inner{
            flex-direction: column;
        }
        .about__form{
            margin-left: 0;
        }
    }
    @media (max-width:768px){
        margin-top: 60px;
    }
    @media (max-width:576px){
        &__contact{
            width: 45%;
        }
    }
    @media (max-width:450px){
        &__contact{
            width: 100%;
        }
        &__contacts{
            gap: 30px 0;
        }
    }
}


