.numbers{
    position: fixed;
    right: 70px;
    bottom: 30px;
    padding-left: 120px;
    padding-top: 50px;
    z-index: 10;

    &__inner{
        position: relative;

    }

    &__card{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        backdrop-filter: blur(50px);
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        @media (max-width:576px) {
            width: 40px;
            height: 40px;
        }

    }
    &__card:last-of-type {
        margin-top: 20px;
        @media (max-width:576px) {
            margin-top: 10px;
        }

    }
    &__card:not(:last-of-type) {
        margin-bottom: 20px;
        @media (max-width:576px) {
            margin-bottom: 8px;
        }

    }
    &__image{
        width: 30px;
        height: 30px;
        img{
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        @media (max-width:576px) {
            width: 25px;
            height: 25px;
        }

    }

    &__close{
        animation: fade-down 5s forwards ease;
        .numbers__card--1{
            animation: fade-down1 5s forwards ease;

        }
        .numbers__card--2{
            animation: fade-down2 3s forwards ease;

        }
        .numbers__card--3{
            animation: fade-down3 1.5s forwards ease;

        }
        .numbers__card--4{
            animation: fade-down4 1s forwards ease;

        }
    }

    @keyframes fade-down {
        0% {
            opacity: 1;
        }


        100% {
            opacity: 0;
            transform: translateY(250px);
        }
    }

    @keyframes fade-down1 {
        0% {
            opacity: 1;
        }


        100% {
            opacity: 0;
        }
    }
    @keyframes fade-down2 {
        0% {
            opacity: 1;
        }


        100% {
            opacity: 0;
        }
    }
    @keyframes fade-down3 {
        0% {
            opacity: 1;
        }


        100% {
            opacity: 0;
        }
    }
    @keyframes fade-down4 {
        0% {
            opacity: 1;
        }


        100% {
            opacity: 0;
        }
    }

    &__open{
        animation: fade-up 5s forwards ease;
        .numbers__card--1{
            animation: fade-up1 5s forwards ease;

        }
        .numbers__card--2{
            animation: fade-up2 5s forwards ease;

        }
        .numbers__card--3{
            animation: fade-up3 5s forwards ease;

        }
        .numbers__card--4{
            animation: fade-up4 5s forwards ease;

        }
    }

    @keyframes fade-up {
        0% {
            opacity: 0;
            transform: translateY(250px);

        }


        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-up1 {
        0% {
            opacity: 0;
        }


        50% {
            opacity: 0.5;
        }


        100% {
            opacity: 1;
        }
    }
    @keyframes fade-up2 {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes fade-up3 {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes fade-up4 {
        0% {
            opacity: 0;
        }

        45% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }


        100% {
            opacity: 1;
        }
    }


    &__hidden{
        .numbers__image{
            background-image: url(../img/close.svg);
            background-size: cover;
        }
        .numbers__image.image-open{
            background-image: url(../img/open.svg);
            background-size: cover;
        }
    }

    @media (max-width: 1200px) {
        right: 30px;

    }

    @media (max-width: 576px) {
        right: 10px;

    }
}