<section class="numbers">
    <div class="numbers__inner">

        <div class="numbers__open">
            <div class="numbers__card center toolBtn numbers__card--1">
                <div class="numbers__image">
                    <img src="assets/img/telegram.svg" alt="icon">
                </div>
                <div class="tooltip right">
                    <div class="tooltip__inner">
                        <a class="tooltip__link" href="tg://resolve?domain=username">Орша</a>
                        <a class="tooltip__link" href="tg://resolve?domain=username">Толочин</a>
                    </div>
                  </div>
            </div>
            <div class="numbers__card center toolBtn numbers__card--2">
                <div class="numbers__image">
                    <img src="assets/img/viber.svg" alt="icon">
                </div>
                <div class="tooltip right">
                    <div class="tooltip__inner">
                        <a class="tooltip__link" href="viber://chat?number=+375295527888">Орша</a>
                        <a class="tooltip__link" href="viber://chat?number=+375292372940">Толочин</a>
                    </div>
                  </div>
            </div>
            <div class="numbers__card center toolBtn numbers__card--3">
                <div class="numbers__image">
                    <img src="assets/img/fax.svg" alt="icon">
                </div>
                <div class="tooltip right">
                    <div class="tooltip__inner">
                        <a class="tooltip__link" href="tel:+375295527888">Орша</a>
                        <a class="tooltip__link" href="tel:+375292372940">Толочин</a>
                    </div>
                  </div>
            </div>
            <div class="numbers__card center toolBtn numbers__card--4">
                <div class="numbers__image">
                    <img src="assets/img/email.svg" alt="icon">
                </div>
                <div class="tooltip right">
                    <div class="tooltip__inner">
                        <a class="tooltip__link" href="mailto:energo-blok@mail.ru">Написать нам</a>
                    </div>
                  </div>
            </div>

        </div>

        <div class="numbers__card center numbers__hidden">
            <div class="numbers__image">
            </div>

        </div>
    </div>
</section>