// screen-resolution
$container-max-width: 1200px;
$desktop-width-middle: 1440px;
$desktop-width: 1200px;
$tablet-width: 1024px;
$mobile-width: 767px;
$mobile-width-middle: 480px;
$mobile-width-min: 375px;


//fonts
$Ub: "Ubuntu";
$UbMed: "Ubuntu-Medium";
$UbBold: "Ubuntu-Bold";

//font-weight
$Normal: 400;
$Bold: 700;

//colors
$Black: #000;
$White: #ffffff;
$Gray: #1D2237;
$White-gray: #FDFDFD;
$Medium-gray: #505D68;
$Lite-gray: #7C7C7C;
$Dark-gray: #222;
$FootGray: #898989;
$Orange: #FF8218;
$Dark-orange: #F77C14;

