//fonts
$Ub: "Ubuntu";
$UbMed: "Ubuntu-Medium";
$UbBold: "Ubuntu-Bold";

//font-weight
$Normal: 400;
$Bold: 700;

//colors
$Black: #000;
$White: #ffffff;
$Lite-gray: #666;
$Dark-gray: #333;
$Yellow: #ffd300;

//shadow

$Big: 0px 0px 50px rgba(0, 0, 0, 0.15);
$Little: 0px 0px 15px rgba(0, 0, 0, 0.15);


